.animate-fly {
	animation: fly 6s ease-in-out 0s infinite;
}

@keyframes fly {
	0%   {
		transform: translateY(0);
	}
	50%  {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
