{
  "semi": false,
  "overrides": [
    {
      "files": ["*.tsx", "*.ts", "*.html"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": true,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "insertPragma": true
      }
    }
  ]
}
